body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.grocery-list {
    list-style-type: none;
    padding: 0;
}

.grocery-list li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.toggle-btn {
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.checked-date {
    font-size: 0.8em;
    color: #888;
    margin-left: 10px;
}

.delete-btn {
    float: right;
    text-decoration: none;
    color: #ff4136;
    font-size: 1.2em;
    margin-left: 10px;
}

.delete-btn:hover {
    color: #ff1717;
}

.grocery-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grocery-list li > *:not(.delete-btn) {
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input[type="text"], button {
        font-size: 14px;
    }
}
